<div class="p-3">
    <div class="card">
        <div class="card-body">
            <div class="card-header-tabs  ">
                <h1 class="text-center ">Welcome on DRC CAR FINDER Application !</h1>
            </div>
            <div class="card-body text-center  ">
                <button class="btn btn-lg btn-outline-primary mt-2  "(click)="gotoCars()" > Go to the Cars page
                    <i class="bi bi-search" style="font-size: 2em; color: #007bff;"></i>
                </button>     
                <button title="click to see taxations" class="btn btn-lg ms-2 btn-outline-primary mt-2 "(click)="gotoTaxations()">
                    Go to taxations
                    <i class="bi bi-search-heart" style="font-size: 2em; color: #007bff;"></i>
                </button>     
                <button class="btn btn-lg ms-2 mt-2  btn-outline-primary"(click)="gotoUsers()" > Go to Users
                    <i class="bi bi-search" style="font-size: 2em; color: #007bff;"></i> 
                </button>    
                <button class="btn btn-lg btn-outline-primary ms-2 mt-3 "(click)="gotoConnectedUsers()" > Go to the connected users
                    <i class="bi bi-search" style="font-size: 2em; color: #007bff;"></i>
                </button>        
            </div>
            
        </div>  
    </div>
</div>